* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  height: auto;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

header {
  position: relative;
  width: 100%;
  height: 70vh;
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  color: #ffffff;
  border-radius: 0 0 0 8rem;
  overflow: hidden;
  z-index: 1;
}

header .background-pattern {
  position: absolute;
  width: 150%;
  top: -170%;
  left: -10%;
  z-index: -1;
}

header .top-header {
  width: 100%;
  padding: 0 10%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .top-header nav .main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-header nav .main-list .logo {
  padding-right: 2rem;
}

header .top-header nav .main-list .main-list-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-header nav .main-list .main-list-links li {
  position: relative;
  padding: 0 1rem;
  list-style-type: none;
  cursor: pointer;
}

header .top-header nav .main-list .main-list-links li:hover {
  text-decoration: underline;
}

header .top-header nav .main-list .main-list-links .login-signup-container-mobile {
  display: none;
}

header .top-header nav .secondary-list {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 150%;
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 0.3rem;
  text-align: center;
  padding: 1rem 0.3rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

header .top-header nav .secondary-list li {
  color: #25252d;
  margin: 0.2rem 0;
}

header .top-header nav .visible {
  opacity: 1;
}

header .top-header #login-btn {
  padding: 1rem;
}

header .top-header #signup-btn {
  padding: 0.8rem 2rem;
  background-color: #ffffff;
  color: #ff525d;
  border-radius: 3rem;
}

header .top-header #signup-btn:hover {
  background-color: #ffffff50;
  color: #ffffff;
}

header .bottom-header {
  width: 100%;
  text-align: center;
  padding: 3rem 10% 0 10%;
  z-index: 2;
}

header .bottom-header h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

header .bottom-header p {
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

header .bottom-header #start-btn {
  padding: 0.8rem 2rem;
  background-color: #ffffff;
  color: #ff525d;
  border: 3px solid #ffffff;
  border-radius: 3rem;
  margin-right: 1.5rem;
}

header .bottom-header #start-btn:hover {
  border-color: #ffffff50;
  background-color: #ffffff50;
  color: #ffffff;
}

header .bottom-header #learn-btn {
  padding: 0.8rem 2rem;
  border: 3px solid #ffffff;
  border-radius: 3rem;
}

header .bottom-header #learn-btn:hover {
  background-color: #ffffff;
  color: #ff525d;
}

main p {
  line-height: 1.7rem;
}

main .section-1 {
  position: relative;
  padding: 10% 0;
}

main .section-1 h2 {
  text-align: center;
  color: #25252d;
  font-size: 2.5rem;
  padding-bottom: 5%;
}

main .section-1 .section-1-text-container {
  padding-left: 10%;
  width: 40%;
}

main .section-1 .section-1-text-container h3 {
  color: #25252d;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

main .section-1 .section-1-text-container p {
  padding-bottom: 3rem;
}

main .section-1 .section-1-text-container .ilustration {
  position: absolute;
  width: 50%;
  right: -10%;
  top: 10%;
}

main .section-1 .section-1-text-container .ilustration-mobile {
  display: none;
}

main .section-2 {
  position: relative;
  padding: 6% 10%;
  background: -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background: linear-gradient(to right, #2c2d3f, #3f4164);
  color: #ffffff;
  border-radius: 0 8rem 0 8rem;
  width: 100%;
}

main .section-2 .section-2-text-container {
  padding-left: 50%;
}

main .section-2 .section-2-text-container h2 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

main .section-2 .ilustration {
  position: absolute;
  width: 30%;
  left: 10%;
  top: -20%;
}

main .section-2 .ilustration-bg2 {
  display: none;
  position: absolute;
  width: 40%;
  left: -5%;
  top: -80%;
  overflow: hidden;
}

main .section-3 {
  position: relative;
  padding: 10% 20%;
}

main .section-3 .section-3-text-container {
  padding-left: 50%;
}

main .section-3 .section-3-text-container h3 {
  color: #25252d;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

main .section-3 .section-3-text-container p {
  padding-bottom: 3rem;
}

main .section-3 .section-3-text-container .ilustration {
  position: absolute;
  width: 50%;
  left: -13%;
  top: 3%;
}

main .section-3 .section-3-text-container .ilustration-mobile {
  display: none;
}

footer {
  font-family: 'Ubuntu', sans-serif;
  background-color: #25252d;
  color: #ffffff;
  width: 100%;
  padding: 5rem 10%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 0 8rem 0 0;
}

footer .footer-minititle {
  padding-bottom: 1.5rem;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  color: #c8c8cb;
  padding-bottom: 0.2rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: underline;
  -webkit-text-decoration-color: #25252d;
          text-decoration-color: #25252d;
  padding-bottom: 0.5rem;
}

footer ul li:hover {
  -webkit-text-decoration-color: #c8c8cb;
          text-decoration-color: #c8c8cb;
}

footer .attribution {
  position: absolute;
  bottom: 1rem;
  width: 80%;
  left: 10%;
  text-align: center;
}

footer .attribution a {
  color: #ff525d;
}

@media screen and (max-width: 700px) {
  header {
    height: 80vh;
  }
  header .background-pattern {
    width: 400%;
    top: -70%;
    left: -110%;
    z-index: -1;
  }
  header .top-header {
    position: relative;
    padding: 0 10%;
  }
  header .top-header nav .hamburger {
    position: absolute;
    top: 7vh;
    right: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 3rem;
    height: 2rem;
  }
  header .top-header nav .hamburger .line {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    -webkit-transition: 1s;
    transition: 1s;
  }
  header .top-header nav .main-list .main-list-links {
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 8rem;
    left: 10%;
    width: 80%;
    padding: 2rem 0;
    background-color: #fff;
    border-radius: 1rem;
    -webkit-transition: 1s;
    transition: 1s;
  }
  header .top-header nav .main-list .main-list-links li {
    color: #1f3f5b;
    margin-bottom: 1rem;
  }
  header .top-header nav .main-list .main-list-links .login-signup-container-mobile {
    border-top: 1px solid #c8c8cb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    padding: 0 10%;
  }
  header .top-header nav .main-list .main-list-links .login-signup-container-mobile #login-btn-mobile {
    color: #1f3f5b;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  header .top-header nav .main-list .main-list-links .login-signup-container-mobile #signup-btn-mobile {
    color: #ffffff;
    font-size: 1.1rem;
    background: -webkit-gradient(linear, left top, right bottom, from(#ff8f70), to(#ff3d54));
    background: linear-gradient(to right bottom, #ff8f70, #ff3d54);
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
  }
  header .top-header nav .main-list .visible {
    opacity: 1;
  }
  header .top-header .login-signup-container {
    display: none;
  }
  header .top-header-nav-visible .hamburger .line1 {
    -webkit-transform: translate(5px, 13.5px) rotate(45deg);
            transform: translate(5px, 13.5px) rotate(45deg);
  }
  header .top-header-nav-visible .hamburger .line2 {
    opacity: 0;
  }
  header .top-header-nav-visible .hamburger .line3 {
    -webkit-transform: translate(5px, -13.5px) rotate(-45deg);
            transform: translate(5px, -13.5px) rotate(-45deg);
  }
  header .bottom-header {
    padding: 3rem 5% 0 5%;
  }
  header .bottom-header h1 {
    font-size: 2.3rem;
  }
  header .bottom-header p {
    font-size: 0.8rem;
  }
  header .bottom-header #start-btn {
    padding: 0.8rem 1.5rem;
    margin-right: 1rem;
    font-weight: 600;
    font-size: 0.8rem;
  }
  header .bottom-header #learn-btn {
    padding: 0.8rem 1.5rem;
    margin-right: 1rem;
    font-weight: 600;
    font-size: 0.8rem;
  }
  main p {
    line-height: 1.3rem;
  }
  main .section-1 h2 {
    font-size: 1.8rem;
  }
  main .section-1 .section-1-text-container {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
  main .section-1 .section-1-text-container h3 {
    padding: 0 15% 1rem 15%;
  }
  main .section-1 .section-1-text-container p {
    padding: 0 5% 3rem 5%;
  }
  main .section-1 .section-1-text-container .ilustration {
    display: none;
  }
  main .section-1 .section-1-text-container .ilustration-mobile {
    display: block;
    position: relative;
    width: 100vw;
  }
  main .section-2 .ilustration {
    position: relative;
    width: 80vw;
    left: 0;
    top: -50%;
  }
  main .section-2 .section-2-text-container {
    padding-left: 0;
    text-align: center;
  }
  main .section-2 .section-2-text-container p {
    padding-bottom: 4rem;
  }
  main .section-3 {
    padding: 10% 0;
  }
  main .section-3 .section-3-text-container {
    padding-left: 0;
    text-align: center;
  }
  main .section-3 .section-3-text-container .ilustration {
    display: none;
  }
  main .section-3 .section-3-text-container .ilustration-mobile {
    display: block;
    position: relative;
    width: 100vw;
  }
  main .section-3 .section-3-text-container h3 {
    padding: 0 5% 1rem 5%;
  }
  main .section-3 .section-3-text-container p {
    padding: 0 5% 3rem 5%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5rem 0;
  }
  footer .logo {
    padding-bottom: 2rem;
  }
  footer .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
  footer .footer-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */